<div id="<%= dom_id address %>">
  <p>
    <strong>First name:</strong>
    <%= address.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= address.last_name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= address.phone %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= address.address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= address.city %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= address.country %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= address.note %>
  </p>

</div>
