<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <% if product.image.attached? %>
    <div>
      <%= image_tag (product&.image.attached? ? product.image : ""), style: 'height: 40px; weight: 40px;' %>
    </div>
  <% end %>

</div>
