<!DOCTYPE html>
<html>
<head>
  <title>ShoppingCart</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
  <script src="https://js.stripe.com/v3"></script>
</head>

<body>
<!--<p class="notice"><%#= notice %></p>-->
<!--<p class="alert"><%#= alert %></p>-->
<%= render partial: "layouts/navbar" %><br>
<%= yield %>
</body>
</html>
